<h3><div class="container">

  <p class="text-capitalize text-danger"> <%=@status%> </p>
 <p class="text-capitalize text-danger"><%= "Nginx Has Started successfully"%></p>
  <p class="text-success"><%=Rails.root %></p>
 <p class="text-warning"><%= "System IP address :" %><%= `ip route get 8.8.8.8 | awk '{print $NF; exit}'` %></p>

  <%= link_to "Back",root_path,:class => 'btn btn btn-primary outline btns' %>&nbsp;
</div>  </h3>